<div id="go-camping" class="blog">
      <%= link_to 'videocamping', 'http://videocamping.cc', :class => 'go-videocamping' %>
      <%= link_to 'bookcamping', 'http://bookcamping.cc', :class => 'go-bookcamping' %>
</div>
<div id="header" class="blog">
      <a href="<%= current_page?(posts_path) ? root_path : posts_path %>">
        <h1 id="blog">#bookcamping Blog</h1>
      </a>
</div>
