<% present post do |presenter| %>
    <%= div_for post, class: post.visibility do %>
       
        <div class="body"><%= presenter.body %></div>
        <br/>
        <br/>
        <%= render 'shared/social/social' %>
        <%= render_comments post.comments, Comment.new(resource: post) %>
    <% end %>
<% end %>
