<% title 'Blog' %>
<div class="actions">
  <%= link_to 'Nueva entrada', new_post_path if can? :manage, Post %>
</div>

<%= render :partial => 'show', locals: {post: posts.first} %>
<%= content_for(:sidebar) { render 'sidebar'} %>
