@import "variables.css.scss";

div.list form {
  padding: 10px;
  div.input {
      width: $w-list - 40; margin: 10px 0;
      label {display: block; color:$c-head;font-weight:bold;}
      input[type=text], textarea, input[type=url], select {
          width: $w-list - 50; border: 1px solid $c-bg; padding: 2px;
      }

       span.hint {font-size:80%;color: $c-gray;}
  }
  input[type=submit] {font-size: 10px;}
  a {font-size: 12px;}

}