<div class="actions">
  <%= link_to 'Crear estantería', new_admin_camp_shelf_path %>
</div>
<% title "Listas ##{current_camp.name}" %>
<h1>Listas #<%= current_camp.name %>
  <small>(<%= shelves.size %>)</small>
</h1>

<%= render :partial => 'index' %>