<div id="sidecontent">
  <div class="main">
    <h1>Últimas entradas</h1>
    <ul id="latest-posts">
      <% posts.each do |post| %>
      <li><h3><%= link_to post.title, post %></h3></li>
      <% end %>
    </ul>
  </div>
  <div class="footer"></div>
  <br/><br/>
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 4,
    interval: 30000,
    width: 336,
    height: 300,
    theme: {
      shell: {
        background: '#000000',
        color: '#ffffff'
      },
      tweets: {
        background: '#333333',
        color: '#ffffff',
        links: '#ffea00'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: false,
      behavior: 'all'
    }
  }).render().setUser('bookcamping').start();
  </script>
</div>
