<ul class="shelves items">
  <% shelves.each do |shelf| %>
      <li class="shelf item">
        <h2><%= link_to shelf.name, shelf %> (<%= shelf.books_count %>)</h2>
        <span class="info">Por <%= link_to shelf.user.name, shelf.user %></span>
      </li>
  <% end %>
</ul>
