<tr class="spacer">
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
<tr class="shelf" style="background-color: <%= shelf.background %>;">
  <td class="main">
    <%= content %>
  </td>
  <td class="count">
    <%= link_to shelf.references_count, shelf %>
  </td>
</tr>
