<% title '' %>

<div id="welcome">
  <%= render_info %>
</div>

<div id="browse">
  <% shelves.each do |shelf| %>
      <div class="shelf">
        <h2><%= link_to shelf.name, shelf, :class => 'open-shelf' %> (<%= shelf.books_count %>)</h2>
        <div class="load-shelf">
          </div>
      </div>
  <% end %>
</div>