<% title 'Retícula' %>
<div class="browse">
  <% shelves.each do |shelf| %>
      <div class="shelf">
        <h2><%= shelf.name %></h2>
        <% shelf.books.each do |book| %>
            <div class="book">
              <%= link_to "&rArr;&nbsp;#{book.title}".html_safe, book %>
            </div>
        <% end %>
      </div>
  <% end %>
</div>