<%= lists_div 2 do %>
    <%= render 'layouts/intro' %>
    <div class="list">
      <%= title t('.title') %>
      <p class="notice" style="padding:10px;">
        CUIDADO: esto es para crear <em>una lista nueva</em>. En el (probable) caso de que lo que quieras
        sea meter una entrada nueva, tienes que ir a la lista y ahí pulsar "Añadir libro"
      </p>
      <%= render :partial => 'form' %>
    </div>
<% end %>