<%= title "References in ##{current_camp.name}" %>
<div class="pagination">
  <%= paginate collection %>
</div>


<%= render 'index', attributes: [:id, :title, :authors, :license_name, :created_at] %>

