<% title "#{user.name} > #{shelf.name}" %>
<% present shelf do |presenter| %>
    <%= div_for shelf, class: 'shelf' do %>
        <%= presenter.header %>

        <div class="actions">
          <%= link_to 'Volver', shelf.user, :class => 'back' %>
        </div>
        <%= presenter.items %>
    <% end %>
<% end %>
