<div class="header">
  <%= title 'Listas' %>
  <div class="actions">
    <%=  link_to 'Añadir una lista', new_user_shelf_path  %>
  </div>
</div>

<table class="shelves">
  <% user_shelves.each do |shelf| %>
      <%= render_shelf shelf, shelf %>
  <% end %>
</table>