<div class="header">
  <%= title 'Acampadas' %>
  <%= link_to 'Volver', root_path, class: 'back' %>
</div>

<table class="table">
  <% camps.each do |camp| %>
      <tr>
        <td><%= link_to camp.name, camp %></td>
        <td class="actions">
          <%= link_to 'Editar', [:edit, camp] %>
        </td>
      </tr>
  <% end %>
</table>
