<div class="header">
  <%= title camp.name %>
  <div class="actions">
    <%= link_to 'Editar', edit_current_camp_path, 
      rel: 'edit-current-camp' if can? :edit, camp %>
  </div>
</div>
<h2>Últimas adquisiciones</h2>
<%= render_references latests_references, '#efefef' %>

<% content_for :sidebar do %>
  <%= markdown camp.description %>
<% end %>

