<%= title "Actividad reciente en ##{current_camp.name}" %>
<div class="actions">
<%= link_to 'Enviarnos email de actividad', notify_admin_versions_path,
    method: :post %>
</div>


<%= render partial: 'version', collection: versions %>




