<div id="sidecontent">
  <div class="main">
    <h1>Directrices</h1>

    <p>Se trata de listas de libros que pueden adoptar la forma de relato
      personal, pueden ser didácticas, o pueden simplemente reflejar el paso
      de cada comisario por cada respectivo campo de conocimiento.</p>

    <p>Los comisarios se seleccionarán en función de su pericia en cada
      ámbito de conocimiento. En este sentido, se permite el autobombo
      elegante (casi todos han publicado algo importante). Se pedirá una
      introducción general y un comentario específico sobre cada título.</p>

    <p>Extensión de las listas. Ni idea. Yo diría mínimo 10, máximo 20 (aunque 20 ya es mucho).
    </p>

    <p>La idea que tengo en mi cabeza es que, una vez lanzada la iniciativa, las vayamos lanzado a un ritmo mensual (el
      arranque de la campaña en Goteo sería un buen momento, así que quizás ya deberíamos ir contactando a la gente).
    </p>
  </div>
  <div class="footer"></div>
</div>
