<div class="actions">
  <%= link_to 'Crear lista comisariada', new_admin_curated_shelf_path %>
</div>
<%= title 'Listas comisariadas' %>

<%= render :partial => 'index' %>

<% content_for(:sidebar) { render 'sidebar' } %>