<div class="actions">
  <%= link_to 'Volver', admin_curated_shelves_path, class: 'back' %>
</div>

<%= title 'Añadir lista comisariada' %>

<%= render :partial => 'form' %>

<% content_for(:sidebar) { render 'sidebar' } %>