<div class="list">
  <h2>LISTAS</h2>
  <ul class="book_lists">
    <% book_lists.each do |list| %>
        <li><%= link_to list.title, list %></li>
    <% end %>
  </ul>
  <div class="actions">
    <%= link_to t('.add_list'), new_book_list_path if can? :new, BookList %>
  </div>
</div>