<div class="users">
  <% users.each do |user| %>
      <%= div_for user do %>
          <div class="avatar"><%= link_to avatar_image(user), user %></div>
          <div class="name">
            <%= link_to user.name, user %>
          </div>
      <% end %>
  <% end %>
</div>

