<div class="header">
  <%= title 'Editoriales' %>

  <div class="actions">
    <%= link_to 'Añdir editorial', new_publisher_path if can? :create, Publisher %>
  </div>
</div>

<table class="publishers table">
  <% publishers.each do |publisher| %>
      <tr>
        <td><%= link_to (publisher.header_url? ? image_tag(publisher.header_url) : publisher.name), publisher %></td>
      </tr>
  <% end %>
</table>
