<div class="actions">
  <%= link_to 'Volver', camp_shelves_path, class: 'back' %>
</div>

<%= title 'Añadir listas' %>
<h3>Funcionalidad deshabilitada.</h3>
<p>#bookcamping está en plena transformación. Uno de los cambios es que las listas
  se gestionarán por un equipo al que, por supuesto estás invitada.</p>

<p>Por supuesto, puedes seguir añadiendo referencias a las listas que ya existen.</p>

<p>Así mismo, estamos implementando la funcionalidad de 'estanterías' para que puedas
crear tus propias listas y compartirlas fácilmente.</p>

<p>Si tienes una propuesta de lista o, simplemente, te quieres poner en contacto
con nostras, escríbenos a bookcamping@fiesta.cc</p>

<% content_for(:sidebar) { render 'application/sidebar' } %>

