<% title "#{user.name} > #{shelf.name}"  %>
<%= div_for shelf, class: 'shelf' do %>
    <%= render_shelf_header shelf %>

    <div class="actions">
      <%= link_to 'Volver', shelf.user, :class => 'back' %>
    </div>
    <div class="books container">
      <% shelf.books.each do |book| %>
          <%= render_book_item book, [book], shelf.background %>
      <% end %>
    </div>
<% end %>
