<% title t('.title') %>

<div class="list shelf search-results">
  <div class="list_info info">
    <%= search_results.count %> <%= current_camp.model_name %>s.
  </div>
  <%= render_book_list search_results %>
</div>
