<div class="actions">
  <%= link_to 'Volver', admin_posts_path, class: 'back' %>
  <%= link_to 'Editar entrada', [:edit, :admin, @post] if can? :manage, @post %>
  <%= link_to 'Ver en la web', @post if @post.public? %>
</div>

<div id="posts">
    <%= render :partial => 'posts/show', locals: {post: @post} %>
</div>

