<%= lists_div 2 do %>
    <%= render_info %>
    <div class="list">
      <%= title t('.title'), :h2 %>
      <ul class="versions">
        <% versions.each do |version| %>
            <li><%= render_version version %></li>
        <% end %>
      </ul>
    </div>
<% end %>