<h2>No deberías ver esta pantalla</h2>
<p>Si estás viendo esto es que ha habido un error
en la programación. Por favor, copia el siguiente texto y envíalo a hola@bookcamping.cc para que podamos resolverlo. Muchas gracias!</p>
<pre>
<%= simple_debug version %>
</pre>

