<% title shelf.name %>
<%= div_for shelf, class: 'shelf' do %>
    <% present shelf do |presenter| %>
        <%= presenter.header %>
        <div class="actions">
          <%= link_to 'Volver', personal_user_shelves_path, :class => 'back' %>
        </div>
        <%= presenter.references %>
    <% end %>
<% end %>

