<% title "Estanterías" %>
<h1>Listas
  <span>(<%= shelves.count + profile_shelves.count %>)</span>
</h1>

<div class="actions">
  <%= link_to '+ Añadir lista', new_personal_user_shelf_path %>
</div>


<table class="shelves">
  <% current_user.personal_shelves.each do |shelf| %>
      <%= render_shelf shelf, [:personal, shelf] %>
  <% end %>
</table>

