<% title t('.title') %>


<div id="autoshelves">
  <% AutoShelf::NAMES.each do |name| %>
      <%= link_to t("autoshelf.name.#{name}"), autoshelf_path(name), :class => name %>
  <% end %>
</div>
<%= render :partial => 'shelves', :object => shelves %>


<%= content_for(:sidebar) { render 'application/sidebar' } %>