<h5>Bookcamping</h5>

Hola <%= @user.name %>,

<p>Pinchando en el siguiente enlace:</p>
<p>
<% url = recovery_url(@identity.uid, host: @host) %>
<%= link_to url, url %>
</p>
<p>puedes cambiar tu contraseña de accesso a bookcamping, si lo deseas</p>

<p>Un saludo! Equipo bookcamping</p>

