<table class="shelves">
  <% shelves.each do |shelf| %>
      <%= cache ['list', shelf] do %>
          <%= render_shelf shelf, (reference ? [shelf, reference] : shelf) %>
      <% end %>
  <% end %>
</table>
