<h1>Mi librería</h1>
<div class="content">
  <p>Próximamente podrás hacer tus propias listas de libros y subscribirte a las listas que hayan creado otras
    personas.</p>

  <p>De momento esta funcionalidad no está implementada. Bookcamping es
    <a href="https://github.com/recortable/Bookcamp">software libre</a>. Ayúdanos!</p>
</div>