// Place all the styles related to the backend/application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {background-color: #efefef; }

body.backend {
  background-color: #efefef;
  div.container {
    overflow: hidden;
    border: 1px solid red;
    background-color: white;
  }
}

