
<% present search_results,
           {background_color: '#AAA', title: "Buscar '#{params[:term]}'"},
           ReferencesPresenter do |presenter| %>
    
    <% title presenter[:title] %>
    <h1><%= presenter.title %></h1>
    
    <%= presenter.render %>
<% end %>



