<% present search.results,
           {background_color: '#AAA'}, ReferencesPresenter do |presenter| %>

    <div class="header">
      <%= title "Buscar '#{search.term}'" %>
      <div class="properties">
          <%= presenter.size %> referencias encontradas.
      </div>
    </div>
    <div class="actions">
      <%= link_to 'Seleccionar referencias', '#', class: 'select-references' if current_user? %>
    </div>

    <%= presenter.render %>
<% end %>



