

<% title "Buscar '#{params[:term]}'" %>
<h1>Buscar '<%= params[:term] %>'<small> <%= search_results.size %></small></h1>

<%= render_presenter ReferencesPresenter, search_results, background_color: '#AAA' %>

