<div class="header">
  <%= title "Colaboradoras en '#{shelf.name}'" %>
  <%= link_to 'Volver', shelf, class: 'back' %>
</div>

<table class="table">
  <% shelf_members.each do |member| %>
      <tr>
        <td class="actions">
          <%= link_to 'Borrar', [shelf, member], method: :delete,
                      confirm: '¿Segura?' if can? :delete, member %>
        </td>
        <td><%= member.user.try(:name) %></td>
      </tr>
  <% end %>
</table> 