<div class="header">
  <%= title 'Añadir estantería' %>
</div>
<div class="actions">
  <%= link_to 'Volver', camp_shelves_path, class: 'back' %>
</div>

<p>Ahora mismo en #bookcamping <strong>estamos discutiendo la idoneidad o
  no de añadir más estanterías</strong>. Nuestras programadoras están
trabajando para poder añadir otro tipo de listas así como librerías nuevas y
editoriales con licencias libres.</p>

<p>Si crees que falta alguna estantería en #bookcamping, 
escríbenos: estaremos encantadas de discutirlo y llegado el momento, añadirla.</p>

<p>Si te apetece entrar en el grupo de discusión sobre el futuro y 
dirección de bookcamping, escríbenos también.</p>

<p>Nuestro correo es <strong>hola@bookcamping.cc</strong></p>
