
@import "variables.css.scss";

div#banner {
    position: fixed;left:235px;right:50x;top:2em;height: 3.0em;
    overflow: hidden;

    h2 {height: 1.2em; overflow: hidden; font-weight:bold;}
}

div#app {
    position:fixed; left:5px;right:5px;top:1em;bottom:5px;

    a.active {color: #c00;}

    .browser {
        position:absolute;left:0;top:2em;bottom:0;width: 220px;
        text-shadow: 0px 0px 1px gray;
        overflow: auto;

        ul {
            width: 200px; overflow: hidden;
            li.section {
                margin-bottom: 20px;

                ul.lists {
                    margin: 5px 1px 0 0px;
                    border-top: 1px solid darken($c-bg, 5);

                    li {
                        padding: 2px 0 2px 5px;
                        border-bottom:1px solid darken($c-bg, 5);
                    }
                }
            }

        }

    }

    .book a.back {display:none;}

    .main {
        position:absolute;top:4em;bottom:0;left:220px;right: $w-list + 40px;
        overflow: auto;

        h1 {padding-left:10px;}

        .section {
            h1 {font-size: 32px; margin-bottom:20px; padding:0;}
        }
    }

    .main > .content {padding: 10px;}

    .viewer {
        position:absolute;top:4em;bottom:0;right:10px;width: $w-list + 30px;
        overflow: auto;
    }

    .actions {margin: 0 10px;}
    div.search {
        margin: 0;
        input[type=text] {width: 100px;}
    }
}

