
@import "variables.css.scss";

html {
    font: normal normal 16px Calibri;
    background-color:#f8f8ff;
    }
a {text-decoration:none; color:$c-link;}
a:hover {color: $c-head; text-decoration:underline;}
h1, h2, {line-height: 1.2em;color: $c-head; font-weight:bold;}
h1 {font-size: 20px;}
h2 {font-size: 16px; }
strong {font-style:italic;}
em {font-weight:bold;}
p {margin: 3px 0;}
.notice {background-color:$c-yellow;}

div#session {
    position:fixed;top:0;right:10px;text-align:right;padding:3px; background-color:white;
    border-radius: 0 0 5px 5px; font-size: 12px;
    span.notice {background-color:$c-yellow;}
}

div#messages {
    height: 1.2em;padding: 3px;
    p.flash {display:inline;background-color:$c-yellow;text-align:center;}
}

/** LISTS **/
div.lists {
    margin-top:30px;
    overflow: hidden;

    div.list {
        float: left; background-color:white;
        width: 360px; margin: 10px; border-radius:3px;

        h1, h2, h3 {padding: 10px 10px;}
        h1 {}
        div.nav {padding: 5px 10px; font-size: 80%;}
    }

    ul {
        padding: 10px;
        li {margin: 5px 0;}
    }

    div.actions {
        padding: 3px 10px;
        font-size: 80%;
    }

}

div.list.intro {
    h2 {font-size: 28px;}
}

div.list form {
  padding: 10px;
  div.input {
      width: 420px; margin: 10px 0;
      label {display: block; color:$c-head;font-weight:bold;}
      input[type=text], textarea {width: 350px; border: 1px solid $c-bg; padding: 2px;}
  }
  input[type=submit] {font-size: 10px;}
  a {font-size: 12px;}

}