
@import "variables.css.scss";

html {
    font: normal normal 16px Calibri;
    background-color:#f8f8ff;
    }
a {text-decoration:none; color:$c-link;}
a:hover {color: $c-head; text-decoration:underline;}
h1, h2, {line-height: 1.2em;color: $c-head; font-weight:bold;}
h1 {font-size: 20px;}
h2 {font-size: 16px; }
strong {font-style:italic;}
em {font-weight:bold;}
p {margin: 3px 0;}
textarea  {height: 8em;}
.notice {background-color:$c-yellow;}
.highlight { background-color: $c-yellow;}
.error {color: #c00;}
.info {padding: 10px;}
#search-error {margin-left: 5px;}

div#session {
    position:fixed;top:0;right:10px;text-align:right;padding:3px; background-color:white;
    border-radius: 0 0 5px 5px; font-size: 12px;
    z-index: 10000;
    span.notice {background-color:$c-yellow;}
}

div#messages {
    height: 1.2em;padding: 3px;
    p.flash {display:inline;background-color:$c-yellow;text-align:center; margin: 0 10px;}
}

div#navigation {
    font-size: 80%; padding: 3px 10px;
    a {padding: 3px 0px;}
}

div.intro {
    div.search {
        padding: 0 10px;
        font-size: 80%;
        input[type=text] {border: 1px solid $c-gray; padding: 2px; margin: 0 5px;}
    }
}

