@import "variables.css.scss";

div.list {
    div.book div.info h3 {padding: 0px 0;}

}

div.book {
    margin:10px;
    overflow:hidden;

    div.button-group { font-size: 12px; margin-top:5px;}

    div.controls {
        margin-top:5px;
        font-size: 80%;
    }

    em a {color: black;}

    div.info {
        h3 {padding: 10px 0; font-weight:bold;}
    }

    ul.shelf_items { padding: 3px 0;}
    div.download_url a {background-color:$c-yellow;}
    a.back {font-size: 80%;}


    table.social {
        margin-top:5px;
        div.twitter {width: 110px;overflow:hidden; margin-top:5px; height:30px;}
        div.facebook {width: 160px;overflow:hidden; height:30px; }
    }

    div.media {
        overflow: hidden;
        img {display: block; margin: 5px auto;}
    }

    div.bookmarks {
        margin:0 5px;
        ul.bookmarks {
            padding:0;
            li {padding:0;margin:2px 0;}
        }
    }
}
div.list form.comment div.input label {display:none;}

form.book {
    div.input {
        label {display:none;}
        textarea {
            font-size: 14px; height: 10em; width:90%; margin: 1px 0;
            border: 1px solid $c-bg; padding: 3px;
        }
    }
}