
@import "variables.css.scss";


div.book_list {
    div.list_info {
        font-size: 80%;
        padding: 0 10px;
        margin-top: -1em;
    }

    ul.books {
        padding: 0;
        li {overflow:hidden;border-radius:3px;}
        li:hover {background-color:$c-bg;}
    }

}

textarea#book_list_name {height: 3em;}

