
@import "variables.css.scss";

div.lists {
    margin-top:30px;
    overflow: hidden;

    div.list {
        float: left; background-color:white;
        width: 400px; margin: 10px; border-radius:3px;

        h2 {padding: 10px;}

        ul.books {
            li {overflow:hidden;border-radius:3px;}
            li:hover {background-color:$c-bg;}
        }

    }
}

div.list.intro {
    h2 {font-size: 32px;}
}