
div#sidebar {
    div.book {
        padding: 0 10px;
        h1 {font-size: 18px;}

        div.media {
            text-align:center;
            img {width: 100%;}
         }
        div.social {margin-top:10px;}


        form {
            width: 100%; overflow: hidden;
            input#email {display: none;}

            .anonymous {font-size: 80%;}
            input[type=submit] {float: right; margin-top: 10px;}
            div.input {
                label {display: none;}
                textarea {width: 98%; height: 4em;}
            }
        }

        ul.comments {
            font-size: 90%;
            li {padding-top: 5px; margin-top: 10px; border-top: 1px solid black;}
            a {color: black; font-weight: bold;}
        }
    }
}