
@import "variables.css.scss";

div#browse {
    position:absolute;left:0;right:0;
    padding-bottom: 40px;
    div.actions {float:none;padding:0 10px;font-size:80%;}

    div.shelf {
        width:100%;overflow:hidden;
        div.books { margin-bottom: 30px; }

        h2 {padding: 10px; text-shadow: 0 1px 1px $c-hover;}


        div.book {
            font-size: 80%;
            color: $c-gray;
            width: 80px;height:80px;
            padding:3px;
            margin: 10px 5px 5px 10px;
            float: left;
            background-color:white;border-radius:3px;
            overflow:hidden;
            box-shadow: 0px 1px 4px #ccc;
        }
        div.book:hover {
            background-color: $c-hover;
        }
    }


    a.active {color: #c00;}
}

div#welcome {
    div.intro {
        margin: 0;padding: 10px 0;
        width:100%;overflow:hidden;
        float:none;background-color:transparent;
        h2 {float: left; margin:0 10px 0 10px;padding:0;}
        .credits {display:none;}
    }
}

div#viewer {
    position: absolute; right: 30px; top: 100px; width: $w-list; padding: 10px;
    border-radius: 5px;
    background-color:white;
}