
@import "variables.css.scss";

div.list {
    div.comments {

        form {
            margin: 0;
            div.input {margin: 0 0 10px 0;}
            label {display: none;}
            textarea {height: 8em; }
        }
    }
}