
@import "variables.css.scss";

html {
    background: url('/assets/background.jpg') $c-background;
}

body {
    font-family: Arial,"Helvetica Neue",sans-serif;
    font-size: 90%;
    line-height: 1.3em;
    color: $c-text;
}

em {font-style:italic;}
strong {font-weight:bold;}

a {text-decoration:none; color:$c-link-dk;}
a:hover {color: $c-link;}

h1, h2, h3 {line-height: 1.3em; color: $c-link-dk;}
h1 {font-size: 160%;}
h2 {font-size: 120%;font-weight:bold;}
h3 {font-size: 105%;font-weight:bold;}
p {margin: 5px 0;}

form {
    margin: 10px 0;
    width: 100%;
    textarea {height: 5em; width: 100%;}

    div.input {
        label {display:block; font-weight:bold;}
        .hint {color: gray;display:block;font-size:80%;}
        input[type=text], input[type=url], textarea {
            border: 1px solid darken(desaturate($c-background,10),30); padding: 2px;
            width: 95%;
        }
    }
    input[type=submit] {margin-top: 20px;}

}
input[type=text], textarea {}
