
@import "variables.css.scss";

.container {width:100%;overflow:hidden;}

div#page {
     width: $s-width; margin: 0 auto;

    div#session {
        width: $s-width; height: 25px;
        color: white;
        font-family: $f-session;
        font-size: 12px;
        background: url('/assets/ui3/session.png') no-repeat;
    }

    div#center {
        width: $s-center; float: left;
        border-top: 6px solid black;
        margin-bottom: 30px;
     }

     div#sidebar {
        width: $s-sidebar; float: left;
        margin-left: 15px;
        border-top: 6px solid black;
     }

}

div#flash {
    margin-top: 5px;
    .notice {width: 100%; background-color: yellow; text-align: center; padding: 0 10px;}
}

div#session {
    width: 100%; overflow: hidden;
    margin: 10px 0 0 0;
    a {color: white;}
    .user {
        float: left;
        padding: 7px 0 0 20px;
    }

    .search {
        float: right; width: 271px; padding: 0; margin: 0;
        input[type=text] {
             background: transparent; margin: 0; border: 0;
            height: 20px; width: 170px;}
         input[type=text]:focus {outline: none;}
         input[type=submit] {margin-left: 25px; padding: 5px 0;}
    }
}

div#header {
    margin: 20px 0;
    h1 {
        width: 1025px; height: 125px; overflow: hidden;
        text-indent: -1000px;
        background: url('/assets/ui3/bookcamping.png') no-repeat;
    }
}

div#center {
}


div#sidebar {
    #sidecontent {
        div.buttons {
            margin-top: 16px;
            width: 336px; height: 145px;
            background: url('/assets/ui3/sidebuttons.png') no-repeat;

            a {
                display: block; float: left; width: 168px;
                margin-top: 23px;
                text-align: center; font-weight: bold; color: black;
                text-transform: uppercase;
             }
        }

        div.main {
            color: white;background-color: black;
            padding: 30px 20px;

            p {margin: 10px 0;}
            a {color: white; font-weight: bold;}
        }

        div.footer {
            width: $s-sidebar; height: 15px;
            background: url('/assets/ui3/sidefooter.png') no-repeat;
        }
    }
}