
@import "variables.css.scss";

div.container {
    width: 100%; overflow: hidden;

    div.browser_column { float: left; width: 60%; }
    div.main_column { float: left; width: 40%; }
}

#main {
    max-width: 1040px;
    margin: 0px auto;

    div#content {
        margin: 10px;
        background-color: white;
        overflow:hidden;
        border-radius: 10px;

        div.browser {
            padding: 10px;
            background-color: lighten($c-background, 10);
            padding-bottom: 10000px;
            margin-bottom: -10000px;
        }

        div.main {
            padding: 10px;
            box-shadow: 0 0 10px darken($c-background, 50);
            padding-bottom: 10000px;
            margin-bottom: -10000px;

            h2 {margin-top:10px;}
        }
    }


}


.button-group {margin-top: 10px;}

ul.items {
    width: 100%; overflow: hidden;
    margin-top:10px;
    padding: 10px 0;

    li.item {
        background-color: white;
        border-radius:2px;
        box-shadow: 1px 1px 5px desaturate(darken($c-background, 10), 20);
        margin: 5px; padding: 5px;
    }

    li.item.shelf {
    }

    li.item.book {
        float: left; overflow: hidden;
        width: 80px; height: 100px;


    }
}
