
@import "variables.css.scss";

/** LISTS **/
div.lists {
    margin-top:30px;
    overflow: hidden;

    div.list {
        float: left; background-color:white;
        width: $w-list; margin: 10px; border-radius:3px;

        h1, h2, h3 {padding: 10px 10px;}
        h1 {}
        div.nav {padding: 5px 10px; font-size: 80%;}

        div.section {
            margin-top: 10px;
            padding-top: 5px;
            border-top: 1px solid $c-gray;
            font-size: 11px;

            h3 {font-size: 13px;color: $c-gray; padding: 0;margin: 0;}
        }
    }

    ul {
        padding: 10px;
        li {margin: 5px 0;}
    }

    div.actions {
        padding: 3px 0; margin: 0 10px;
        font-size: 80%;
        border-bottom: 1px solid $c-gray;
    }

}

div.list.intro {
    h2 {font-size: 28px;}
}

