

div[data-pjax-container] {
  div.reference {
    background-color: white;
    padding: 0 0px;
    border-bottom: 4px solid black;
    margin-bottom: 5px;

    h1 {font-size: 18px;}

    div.author {margin-top: 5px;}
    div.media {
      text-align:center;
      img {width: 100%;}
    }
    div.social {margin-top:10px;}

    img.cover-icon {width: 100%;}
  }
}

// width: 647px
div.reference {
  width: 100%; overflow: hidden;

  div.row {width: 100%; overflow: hidden;}
  div.left { width: 360px; float: left; margin-right: 10px;}
  div.right {} 

  div.reference_info {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    h1 {margin: 5px 0 0 0;}
    span {font-weight: bold;}
    span.user {display: block; margin-top: 5px; font-weight: normal;}
  }

  div.media {
    img {width: 100%;}
  }

  div.social {margin-top: 15px;}
  a.download {display: block; text-align: center; margin: 5px 0;}
}

div.references, div.shelf_item {
  width: 700px;

  div.reference.cover-image {
    div.emblems {
      background-color: black;
    }
  }

  div.reference {
    float: left;
    width: 121px;
    height: 125px;
    margin: 5px 17px 10px 0px;

    div.emblems {
      width: 12px;
      height: 12px;
      float: left;
      padding-right: 3px;
      img {
        width: 100%;
      }
    }

    div.content {
      position: relative;
      width: 100%;
      height: 100%;
      font-size: 13px;
      a {
        color: black;
      }
      h3 {
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
      }

      div.cover-icon, div.emblems {
        position: absolute;
        padding: 0;
        overflow: hidden;
      }

      div.cover-icon {
        left: 4px;
        top: 15px;
        right: 25px;
        height: 100px;
      }
      div.emblems {
        left: 100px;
        top: 12px;
        width: 20px;
        height: 112px;
      }

      div.emblems {
        img {
          position: absolute;
          left: 0;
        }
        img.download {
          bottom: 0;
          width: 14px;
          left: 3px;
        }
      }
    }
  }

  div.Book {
    background: image_url('icono_referencia_libro.png') no-repeat;
  }

  div.WebPage {
    background: image_url('icono_referencia_blog.png') no-repeat;
  }

  div.Audio {
    background: image_url('icono_referencia_audio.png') no-repeat;
    div.content div.cover-icon {
      top: 4px;
      left: 6px;
    }
    div.content div.emblems {
      top: 0px;
      height: 114px;
    }
  }

  div.Video {
    background: image_url('icono_referencia_video.png') no-repeat;
    div.content div.cover-icon {
      left: 30px;
      top: 0px;
      height: 100px;
    }
    div.content div.emblems {
      top: 0px;
      height: 104px;
    }
  }
}


a.go-reference {
  overflow: hidden;
  text-indent: -1000px;
  display: block;
  width: 336px;
  height: 41px;
  margin: 2px 0 0 -0px;
  background: image_url('ver_ficha_completa.png') no-repeat;
}
a.go-reference:hover {
  background-position: 0 -45px;
}

.summary {
  .media img {with: 100%;}
  .user {font-size: 80%;}
}

div.reference.unselected {
  opacity: 0.5;
}

div#selection {
  padding: 5px 10px 0 10px;
  margin-bottom: 1px;

  div.selection-controls {
    input[type=text] {border: 1px solid #333; padding: 1px 2px;}
  }

  div.messages {
    div {
      padding: 3px 10px;
      cursor: pointer;
    }
    a {text-decoration: underline; color: white;}

    div.working { color: yellow; background-color: black; }
    div.success { color: #adff2f; background-color: black; }
  }

}


ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
