div.shelf_item {
  width: 100%;
}

div.shelf_item.odd {
  with: 100%; overflow: hidden;
  .reference {float: right; margin-left: 10px; margin-top: 30px;}
}

div.shelf_item.even {
  with: 100%; overflow: hidden;
  .reference {float: left;}
}

