
@import "variables.css.scss";

table.shelves {
    width: 100%;

    tr.shelf {
        width: 674px; height: 63px;
        a {color: black;}

        td.main {
            width: 550px;
            background: url('/assets/ui3/shelf.png') no-repeat;
            padding: 0 50px 0 30px;
            .name {font-weight: bold;}
        }

        td.count {
            text-align: center;
            font-weight: bold;
            color: white;
            div {margin-left: -10px;}
        }
    }

    tr.spacer {
        display: block;
        margin: 0;padding:0;height: 5px;
    }
}