
@import "variables.css.scss";

ul.shelves {
    li span.info {font-size:80%;}
    li span.info a {font-weight:normal;}
    a {font-weight:bold;}
}

div.shelf {


    div.list_info {
        font-size: 80%;
        padding: 0 10px;
        margin-top: -1em;
    }

    div.order {
        padding: 0 10px; font-size: 80%;
    }

    ul.books {
        padding: 0;
        li {overflow:hidden;border-radius:3px;}
        li:hover {background-color:$c-hover;}
    }

    noh3 {margin:30px 10px -10px 10px;padding: 0;border-bottom:1px solid $c-gray;color:$c-gray;}

}

textarea#shelf_name {height: 3em;}

