
@import "variables.css.scss";


div.shelf {
    div.list_info {
        font-size: 80%;
        padding: 0 10px;
        margin-top: -1em;
    }

    div.order {
        padding: 0 10px; font-size: 80%;
    }

    ul.books {
        padding: 0;
        li {overflow:hidden;border-radius:3px;}
        li:hover {background-color:$c-bg;}
    }

}

textarea#shelf_name {height: 3em;}

