<div id="shelves">
  <% shelves.each do |shelf| %>
      <%= div_for shelf, class: 'shelf' do %>
          <h3><%= link_to shelf.name, [:admin, shelf] %></h3>
          <span class="author">Por <%= shelf.user.name %>.</span>
          <span class="book_count"><%= shelf.books_count %> referencias.</span>
      <% end %>
  <% end %>
</div>