<div id="go-camping">
  <% if current_camp.name == 'bookcamping' %>
    <%= link_to 'videocamping', 'http://videocamping.cc', :class => 'go-videocamping' %>
    <p class="go-bookcamping">bookcamping</p>
  <% else %>
    <p class="go-videocamping">videocamping</p>
    <%= link_to 'bookcamping', 'http://bookcamping.cc', :class => 'go-bookcamping' %>
  <% end %>
</div>
<div id="header">
  <a href="/">
    <h1 id="logo" class="logo-<%= current_camp.name %>"><%= current_camp.name %></h1>
  </a>
</div>
