<div id="sidecontent">
  <div class="main">
    <h2>Breve guía de markdown</h2>
    <ul>
      <li># Título grande</li>
      <li>## Título mediano</li>
      <li><strong>*cursiva*</strong></li>
      <li><em>**negrita**</em></li>
      <li>[Enlace](http://bookcamping.cc)</li>
      <li><b>Listas:</b><br/>
      - Uno<br/>
      - Dos</li>
      <li><b>Listas numeradas:</b><br/>
        1. Uno<br/>
        2. Dos</li>
      <li><b>Reseñas:</b><br/> poniendo un &gt; delante del texto</li>

    </ul>
    <br/>
    Más información:
    <a href="http://daringfireball.net/projects/markdown/syntax"
       target="_blank">markdown syntax</a>

  </div>
</div>
<div class="footer">
</div>

