
<div id="sidecontent">
  <div class="buttons">
    <%= link_to 'Añadir libro', new_book_path %>
    <%= link_to 'Añadir lista', new_shelf_path %>
  </div>
  <div class="main">
    <h2>DE LA PLAZA A LA NUBE</h2>

    <p>Bienvenidas a bookcamp.cc, una biblioteca abierta y colaborativa nacida a la sombra del 15 de Mayo. En sus
      estanterías digitales encontrarás algunos libros (y vídeos) para entender cómo hemos llegado hasta aquí y algunos
      otros para seguir pensando hacia dónde y cómo queremos continuar. Porque no salimos de la nada y porque no sólo de
      Indignaos vive Sol. Yes, we read. O dicho con otra fórmula mítica, generacional y más local: Si no quieres ser
      como ellos, lee.</p>

    <p>Gestión del fondo o Colectivo Editor o Como queráis: Bartleby y Cía</p>
  </div>
  <div class="footer"></div>
</div>
