<%= title user.name %>

<% present user do |presenter| -%>
    <%= div_for user do %>
        <%= presenter.render_info %>
    <% end %>
<% end %>


<table class="shelves">
  <% user.public_shelves_for(current_camp).each do |shelf| %>
      <%= render_shelf shelf, [user, shelf] %>
  <% end %>
</table>

