<%= title user.name %>

<div class="actions">
  <%= link_to 'Volver', users_path, class: 'back' %>
</div>


<table class="shelves">
  <% user.public_shelves_for(current_camp).each do |shelf| %>
      <%= render_shelf shelf, [user, shelf] %>
  <% end %>
</table>

