<% title user.name %>

<% present user, {count: "#{shelves.size} listas" } do |presenter| -%>
    <%= div_for user do %>
        <%= presenter.header %>
    <% end %>
<% end %>

<table class="shelves">
  <% shelves.each do |shelf| %>
      <% shelf_url = shelf.type == 'CampShelf' ? [shelf] : [user, shelf] %>
      <%= render_shelf shelf, shelf_url %>
  <% end %>
</table>

