<div class="header">
  <%= title "Darse de alta en #bookcamping" %>
</div>
<div class="actions">
  <%= link_to 'Volver', login_path, class: 'back' %>
</div>


<%= render :partial => 'personal/users/form' %>
