<% title "#{resource_class.name}s" %>
<h1><%= resource_class.name %> <small>(<%= resource_class.count %>)</small></h1>
<div class="pagination">
  <%= paginate collection %>
</div>

<%= render 'index', attributes: resource_class.attribute_names %>

