<div class="header">
  <%= title 'Agradecimientos enormes' %>
</div>

<a href="http://www.goteo.org/project/bookcamping/supporters">¡A todas vosotras!</a>

<p class="wip">Esta página está en construcción. Próximamente más</p>
