<div class="header">
  <%= title 'Colofón' %>
  <div class="description">Colorín colorado,
  este cuento acaba de empezar.</div>
</div>

<p class="colofon">
Esta web vio a la luz el 20/06/2011 y fue
actualizada por última vez el 16/12/2012<br/>
para su programación se utilizó Ruby, Rails y otros software de código libre<br/>
las tipografías que se han usado son Ventura Edding
de Josep Patau Bellart<br/>
Kreon de Julietta Petretta y en el mapa Go Long de Matthew Welch<br/>
esta web está bajo licencia Creative Commons<br/>
Reconocimiento Compartir igual (by-sa)<br/>
comparte y difruta</b4>
</p>
