<div class="header">
  <%= title 'Cómo lo hago' %>
</div>

<p class="wip">Estamos trabajando para mejorar esta página</p>

<h2>¿Cómo hago para moverme por #bookcaming?</h2>

<p>Para participar en la comunidad #bookcamping (para convertirse en bookcamper,
como se dice por aquí) empieza por hacer click en “Entrar” arriba a la
izquierda. Puedes acceder a través de Google, Twitter o Facebook, o puedes
utilizar el santo y seña de toda la vida (introducir correo y contraseña).</p>

<p>Una vez tengas tu perfil, puedes añadir títulos a las listas existentes o crear
nuevas. También podrás en “Mis listas” consultar tus aportaciones, marcar
libros para leer, hacerte una lista de favoritos o una lista a tu medida donde
recopilar los títulos que te interesen según tus propias categorías. También
podrás ver qué tienen guardado otras bookcampers en este mismo apartado.</p>

<h2>Algunas especificaciones</h2>

<p>#Bookcamping no alberga archivos (aunque está previsto que lo haga), lo que
quiere decir que el contenido está enlazado, pero se aloja en otros sitios.
Para contribuir con títulos a las listas podrás enlazarlos y reseñarlos, pero
necesariamente tendrán que dormir en otra parte. </p>

<p>Por otro lado, #bookcamping, en su compromiso con la cultura libre, sólo
permite enlazar libros cuya licencia permita su libre circulación. Los títulos
con copyright sólo pueden estar referenciados. </p>

<p>Por último añadir que #bookcamping es un proyecto en plena transformación,
nuestra biblioteca y nuestra estructura están en constante cambio. Es posible
que te encuentres con algún que otro problema (e incluso alguna que otra
contradicción), así que te agradeceremos mucho que nos lo comuniques a
hola@bookcamping.cc para poder darte una solución, resolverte dudas y por
supuesto mejorar como proyecto.</p>

<h2>¡Bienvenida a #bookcamping!</h2>
