<div class="header">
  <%= title 'Acerca de #bookcamping' %>
</div>

<p><strong>#bookcamping</strong> es una biblioteca donde poder reseñar, enlazar y descargar
contenidos en diversos formatos (textos, audios, videos). Es una
biblioteca abierta y colaborativa que nace a la luz del 15M cuyo objetivo es socializar
la lectura e incentivar la cultura del compartir. Lejos de querer ser un ’libros
yonkis’ #bookcamping propone llenar sus estanterías con contenido 100% libre
contribuyendo a un modelo de cultura sostenible.</p>

<p>La cultura y el conocimiento ya no son los que conocíamos. La cultura quiere
ser libre. Y, nos demos cuenta o no, la cultura la producimos en red, la
producimos socialmente.</p>

<h2>Somos...</h2>

<p>El equipo que impulsa, cuida, saca brillo y alimenta #bookcamping somos:</p>

<p><strong>Silvia Nanclares</strong>: trabaja en la órbita del mundo editorial. Lleva colaborando en procesos 
de edición propios y ajenos, vendiendo, cargando, colocando, pensando y escribiendo sobre
libros y edición desde 2001. blogs.zemos98.org/entornodeposibilidades/</p>

<p><strong>Daniel Gómez</strong>: aprendió a hablar con ordenadores de pequeño. Ahora consigue 
que le hagan caso, a ser posible, con código libre. Programador en la cuerda floja.</p>

<p><strong>Kamen Nedev</strong>: productor cultural, comisario independiente y escritor. Le gusta romper cosas. waitingforcargo.net</p>

<p><strong>María Durán</strong>: mujer orquesta del diseño a mano y a máquina. Cose, borda y remienda
todo lo que pasa por sus manos. Busca el orden en el caos y sueña en código abierto.</p>

<p><strong>Jessica Romero</strong>: periodista y productora cultural. Señales de humo, el sonido de un 
tam-tam, las palabras, la voz todo vale para comunicarse. atemporalsiempre.com</p>

<p><strong>María Castelló</strong>: ilustradora y artista visual. Ha participado en exposiciones aquí y allá,
sobre todo en Madrid, Berlín y Barcelona. También colabora con revistas, ilustra 
libros, cubiertas de vinilos y dibuja mapas misteriosos. www.castellosolbes.com/</p>

<h2>¿Y cómo llegamos hasta aquí?</h2>

<p>Todo empezó allá por el 15M cuando nuestra Silvia lanzó en Twitter la
pregunta “¿Y tú qué libro te llevarías a tu plaza/acampada/bookcamping?”. Siguió un
aluvión de respuestas con la etiqueta #bookcamping. Ése fue el germen de todo. Kamen
contribuyó activamente a este primer listado que se traslada al dominio http://bookcamping.cc
por mediación e iniciativa de Dani. Una vez establecida la biblioteca, era hora de 
ponerla guapa y ahí entró María D. diseñando la web y dándole al repositorio 
una pinta más practicable. Así queda configurado el equipo de trabajo en una primera fase.</p>

<p>En una segunda fase, y de cara al lanzamiento en Goteo de la campaña de
financiación para convertir a #bookcamping en algo más que una biblioteca, se
incorpora Jessica para hacer frente al mastodóntico trabajo de comunicación. Y
por último, a través de o con la excusa de #mappingbookcamping se incorpora
María C.</p>

<p>Hoy por hoy el equipo #bookcamping se desorganiza horizontalmente, choca,
fricciona e intenta salir de todos los apuros y seguir construyendo.  </p>

