<div class="header">
  <%= title 'Visitas guiadas' %>
</div>

<p class="wip">Estamos trabajando en ello...</p>

<p>Dentro de muy poco empezaremos a ofrecer unas 'visitas guiadas' por los contenidos de #bookcamping</p>
<p>¡Stay tuned! @bookcamping</p>

