<% title "#{book.title} en #{truncate(camp_shelf.name)}" %>

<% content_for(:sidebar) do %>
    <div data-pjax-container>
      <%= render 'summary' %>
    </div>
<% end %>

<%= render partial: '/camp_shelves/camp_shelf', object: camp_shelf %>

