<h1>Listas</h1>
<div class="content">
  <ul class="">
    <% shelves.each do |shelf| %>
        <li>
          <h2><%= link_to shelf.name, shelf, :data => {:hash => shelf_path(shelf)}, :class => 'ajaxize' %> (<%= shelf.books_count %>)</h2>
          Por <%= shelf.user.name %>
        </li>
    <% end %>
  </ul>

</div>