
div[data-pjax-container] {
    div.reference {
        background-color: white;
        padding: 0 10px;
        border-bottom: 4px solid black;

        h1 {font-size: 18px;}

        div.author {margin-top: 5px;}
        div.media {
            text-align:center;
            img {width: 100%;}
         }
        div.social {margin-top:10px;}

        img.cover {width: 100%;}
    }
}

// width: 647px
div.reference {
    width: 100%; overflow: hidden;

    div.row {width: 100%; overflow: hidden;}
    div.left { width: 360px; float: left; margin-right: 10px;}
    div.right {  }

    div.reference_info {
        padding-bottom: 5px;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
        h1 {margin: 5px 0 0 0;}
        span {font-weight: bold;}
        span.user {display: block; margin-top: 5px; font-weight: normal;}
    }

    div.media {
        img {width: 100%;}
    }

    div.social {margin-top: 15px;}
    a.download {display: block; text-align: center; margin: 5px 0;}
}

.summary {
    .user {font-size: 80%;}
}