
h1.logo-bookcamping {
    width: 1025px; height: 140px;
    background: url('/images/logo-bookcamping.png') no-repeat;
}
h1.logo-videocamping {
    width: 1025px; height: 140px;
    background: url('/images/logo-videocamping.png') no-repeat;
}

h1.clismon {
    width: 1025px; height: 140px;
    background: url('/images/clismon/clismon.png') no-repeat;
}

a#go-map {
    display: block; overflow: hidden;
    margin-top: 20px; text-indent: -1000px;
    width: 336px; height: 275px;
    background: image_url('mappingbookcamping.jpg') no-repeat;
}
a#go-map:hover {
    background-position: 0 -275px;
}

div.book {
    a.go-book {
        display: block; overflow: hidden;
        width: 335px; height: 39px;
        margin-left: -10px; margin-top: 3px;
        text-indent: -1000px;
        background-image: url('/images/buttons/VerFichaCompleta.png');
    }

    a.go-book:hover {
        background-position: 0 -45px;
    }
}
