
@import "variables.css.scss";

html {
    font-family: $f-base;
}


a {text-decoration: none; color: black;}
a:hover {text-decoration: underline;}
h1, h2, h3 {font-weight: bold;}
h1 {font-size: 24px; margin-top: 15px; margin-bottom: 5px;}

h1, h2, h3, h4, h5, h6 {
    small {font-size: 70%; color: #444; font-weight:normal;}
}

p {
    margin: 0.6em 0 0.8em 0;
    line-height: 1.4em;

    em {text-style: italic;}
    strong {font-weight: bold}
}

table.table {
  width: 100%;
  tr {border-bottom: 1px solid black;}
  td {padding: 2px 5px;}
}

form {
    div.input {
        width: 100%; overflow: hidden;
        margin: 20px 0;

        label {
            display: block; font-weight: bold;
        }

        .hint {
            display: block; color: gray;
            font-height: 4em;
            margin-top: 5px;
        }

        input[type="text"], textarea, input[type="url"],
        input[type="email"], input[type="password"] {
            width: 664px;
        }
        input[type="checkbox"] {float: left; margin: 3px 5px 0 0;}
        select {height: 1.8em; line-height: 2em;}
    }

    input[type="text"], textarea, input[type="url"],
    input[type="email"], input[type="password"] {
        border: 2px solid black; padding: 2px 2px 2px 2px;
    }


    input[type="submit"] {
        padding: 4px 7px;
        border: 2px solid black;
        background-color: white; color: black; font-weight: bold;
        box-shadow: 2px -2px 0px black;
     }
     input[type="submit"]:hover {background-color: black;color:white;}
     input[type="submit"]:active {background-color: black;color:yellow;}


    span.error {color: #c00; display: block;}
}

a.back {
    display: block;
    width: 79px; height: 25px; margin-top: 10px;
    overflow: hidden; text-indent: -1000px;
    background: url('/images/ui3/back.png') no-repeat;
}

div.actions, td.actions {
    width: 100%; overflow: hidden;
    margin: 3px 0;

    a {
        overflow: visible;
        display: block; float: left;
        line-height: 1.3em;
        margin: 3px 7px 0 0; padding: 2px 5px 0 5px;
        border: 2px solid black;
        color: black; font-weight: bold;
        box-shadow: 2px -2px 0px black;
     }

     a:hover {
       background-color: black; color: white; 
       text-decoration: none;
     }

     a.back {border: 0; margin: 3px 0px 0 0; box-shadow: none;}
     a.back:hover {background-color: white; color: black }
}
.important {background-color: yellow;}
td.actions {
  width: inherit; 
  a {
    font-size: 80%;
  }
}

div.markdown {
    font-size: 15px; line-height: 19px;
    p {margin: 5px 0;}
    em {font-weight: bold;}
    strong {font-style: italic;}
    h1, h2, h3 {font-size: 15px; font-weight: bold; margin: 5px 0 3xp 0;}
}

ul.properties {
    li {
        margin: 5px 0;
        label {font-weight: bold;}
    }
}

span.error { color: #c000; }

a.beta, div.beta { background-color: #eef4ff;}
.wip { color: gray; font-style: italic; }
p.colofon {text-align: center;}

