
body.MapsController {
    div#playground {
        position: fixed; left: 0; top: 0; right: 0; bottom: 0;
        overflow: hidden;

        img {
           -moz-user-select: -moz-none;
           -khtml-user-select: none;
           -webkit-user-select: none;
           user-select: none;
        }

    }
}