// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.post {
    padding: 5px 0;
    div.author {text-style: italic;}
    div.body {
        margin-top: 10px;


    }
    div.visibility {float: right;}


}

div.posts {
  div.post {
    margin: -10px 0 2em 0;
  }

  div.post_head {
    padding: 4px 0;
    border-top: 6px solid black;
    border-bottom: 2px solid black;
  }

  h2 {margin: 0}
}
