
div.reference.unselected {
    opacity: 0.5;
}

div#selection {
    padding: 5px 10px 0 10px;
    margin-bottom: 1px;

    div.selection-controls {
        input[type=text] {border: 1px solid #333; padding: 1px 2px;}
    }

    div.messages {
        div {
            padding: 3px 10px;
            cursor: pointer;
        }
        a {text-decoration: underline; color: white;}

        div.working { color: yellow; background-color: black; }
        div.success { color: #adff2f; background-color: black; }
    }

}


ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}