
div.tags {
  width: 100%; overflow: hidden;
  font-size: 80%;
  padding: 1em 3px;

  div.tagging {
    display: block; float: left; 
    margin: 3px 5px 3px 0; padding: 3px 10px;
    border: 1px solid gray; border-radius: 5px;

    a.destroy {padding-left: 5px; color: gray; font-size: 80%;}
  }
  form {clear:both; margin-top: 10px;}
}
