
div.users {
    width: 100%; overflow: hidden;

    div.user {
        float: left;
        width: 110px; height: 100px;
        padding: 5px; margin: 0 11px 10px 0;
        border: 1px solid black;
        position: relative;

        .name {
            position: absolute;
            display: block;
            left: 0; right: 0; bottom: 2px;

            overflow: hidden;
            text-align: center;
        }
    }
}