
div.header {
  div.avatar {float: left; margin-right: 5px;}
}

div.users {
    width: 100%; overflow: hidden;

    div.user {
        float: left; overflow: hidden;
        width: 80px; height: 110px;
        padding: 5px; margin: 0 20px 20px 0;
        border: 1px solid gray;
        box-shadow: 1px 1px 1px lightgray;
        position: relative;

        .name {
            position: absolute;
            display: block;
            left: 0; right: 0; bottom: 2px;

            overflow: hidden;
            text-align: center;
            text-shadow: 2px 2px 0 white;
        }
    }
}

form.search_users {
    margin: 10px 0;
}

textarea#user_description {height: 3em;}
