<div class="intro list">
  <h2>#bookcamping</h2>

  <h2>ALGUNOS LIBROS PARA ENTENDER CÓMO HEMOS LLEGADO HASTA SOL (PORQUE NO SALIMOS DE LA NADA)</h2>

  <h2>¿Y TÚ, QUÉ LIBRO TE LLEVARÍAS A TU PLAZA/ACAMPADA/ BOOKCAMP?</h2>
</div>