<div class="intro list">
  <h2><a href="/">#bookcamping</a></h2>

  <h2>ALGUNOS LIBROS PARA ENTENDER CÓMO HEMOS LLEGADO HASTA SOL (PORQUE NO SALIMOS DE LA NADA)</h2>

  <h2>¿Y TÚ, QUÉ LIBRO TE LLEVARÍAS A TU PLAZA/ACAMPADA/ BOOKCAMP?</h2>

  <p class="credits">
    #bookcamping surge a partir
    de <%= link_to 'Entorno de posibilidades', 'http://entornodeposibilidades.blogspot.com/2011/05/bookcamp-si-no-quieres-ser-como-ellos.html' %>
    <br/>
    Es <%= link_to 'código libre', 'https://github.com/recortable/Bookcamp' %>, colabora!

  </p>

  <!--a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="#bookcamping" data-lang="es" data-counturl="http://bookcamp.ccc">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script-->
</div>