<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body style="font-family: Verdana, sans-serif; width: 850px; margin: 20px auto; padding: 10px; ">
  <%= yield %>
</body>
</html>

